.git/
.vscode/
out/
examples/
.gitignore
.prettierrc.json
.vscodeignore
*.vsix
packages/
src/
media/
setmm/
node_modules/**
.vscode/**
.vscode-test/**
build/**
.gitignore
package-lock.json
pnpm-lock.yaml
tsconfig.json
README.md
**/node_modules/**